.row{
    width: 90%;
}
#col{
    border: 1px solid black;
    margin: 5vh 5vw;
    padding: 20px 10px;
}
.col button,input{
    margin: 0px 2px;
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.underline{
    text-decoration: underline;
}