@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belgrano&display=swap');


.popular-card{
  background-color: rgba(33, 39, 44, 1);
  position: absolute;
width: 306px;
height: 124px;
margin-left: 22px;
margin-top: 25px;
border-radius: 8px;
}

.header-tag{
  /* position: absolute; */
width: 70px;
height: 13px;
margin-left: 18px;
background: #067BD8;
border-radius: 8px;
margin-top: 18px;
display: flex;
flex-direction: row;
justify-content: flex-start;
}
.img1{
  margin-left: 5px;
  margin-top: 4px;
  color: #fff;
  position: absolute;
width: 5.56px;
height: 5px;
background-color: transparent;
}
.img2{
  background-color: transparent;
  margin-left: 60px;
  margin-top: 4px;
  color: #fff;
  position: absolute;
width: 5.56px;
height: 5px;
}
.text{
  position: absolute;
width: 45px;
height: 13px;
margin-left: 15px;
align-items: center;
justify-content: center;
font-style: normal;
font-weight: 500;
font-size: 5.5px;
line-height: 223.7%;
color: #FFFFFF;
font-family: 'Poppins', sans-serif;
background-color: transparent;
}

.card-heading{
  background-color: transparent;
  position: relative;
width: 208px;
height: 22px;
margin-left: 17px;
margin-top: 7px;
font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 136.2%;
color: #FFFFFF;
}
.card-new-price{
  position: relative;
width: 42px;
height: 43px;
margin-left: 247px;
margin-top: -22px;
background-color: transparent;
font-family: DM Serif Display;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 223.7%;
text-align: right;
color: #FFFFFF;
}
.saving{
  position: relative;
width: 206px;
height: 23px;
font-family: Belgrano;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 193.7%;
margin-left: 17px;
margin-top: -17px;
background-color: transparent;
color: #465D68;

}
.card-old-price{
  position: relative;
  width: 41px;
height: 43px;
font-family: DM Serif Display;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 223.7%;
margin-left: 248px;
margin-top: -25px;
background-color: transparent;
position: relative;
text-align: right;
text-decoration-line: line-through;
color: #4C6070;
}
.bottom-tag{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 16px;
  background-color: transparent;
  margin-top: -5px;
}
.bottom-tag .saving-tag{
  position: relative;
  margin-left: 17px;
  margin-top: -7px;
  width: 64px;
height: 16px;
font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 136.2%;
background-color: transparent;
/* or 16px */


color: #24DB6D;
}
.bottom-tag .result-tag{
  position: relative;
  width: 72px;
height: 16px;

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 136.2%;
margin-left: 9px;
margin-top: -7px;
background-color: transparent;
color: #DB9D24;
}
/* .card-on-click{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.card-on-click img{
  background-color: transparent;
  width: 18px;
height: 13px;
} */
.abc{
  height: 20px;
  width: 20px;
  margin-left: 340px;
  position: absolute;
  color: wheat;
  width: 18px;
height: 13px;
margin-top: 90px;
}

.card{
  position: relative;
width: 306px;
height: 94px;
left: 22px;
background: #374B5B;
border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 8px;
top: 149px;
margin-top: 19px;
}