.rectangle{
  width: 311px;
  height: 407px;
  background: linear-gradient(161.32deg, #4082B7 6.43%, #1D69A5 87.57%);
  /* background-image: url('../../Images/rectangle.png'); */
  margin-left: 34px;
  margin-top: 33px;
  position: relative;
}
.left-bottle{
  position: absolute;
  width: 42.46px;
  height: 132.63px;
  bottom: 0px;
  background:  transparent;
/* left: 7px; */
}
.right-bottle-bottom{
  position: absolute;
/* width: 60px; */
height: 45px;
right: 6.86px;
bottom: 0px;
background: transparent;
}

.right-bottle{
  background: transparent;
  position: absolute;
width: 47px;
height: 98.65px;
right: 0px;
}
.center-bottle{
  position: absolute;
  background: rgba(196, 196, 196, 1);
  width: 89px;
  height: 278px;
  margin-top: 59px;
  margin-left: 100px;
  transform: rotate(-22.92deg);
}

.shadow{
  /* position: absolute;
width: 259.13px;
height: 110.22px;
background: transparent; */
position: absolute;
width: 240.13px;
height: 80.22px;
/* left: 195.84px; */
top: 190px;
left: 12px;

background: #1b4d75;
filter: blur(13px);
transform: rotate(-113.79deg);

}